*{
margin: 0;
padding: 0;
box-sizing: border-box;


}


body{
    background-image: url(img/walper.jpg) ;


}


.formulario{
border: 1px solid black;
width: 40vw;
height: 90vh;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
padding: 1rem;
display: flex;
flex-direction: column;
justify-content: center;
gap: 10%;
background-color: rgba(255, 255, 255, 0.637);
border-radius: 15px;



}

.input{

    position: relative;
    width: 100%;
}


.formulario input{

padding: 0.5rem;
width: 100%;
outline: none;



}

labelinput{

    font-weight: bolder;
    position: absolute;
    top: 0.5rem;
    left: 00.5rem;
    pointer-events: none;
}


.fomulario input:focus ~ label,
.fomulario input:valid ~ label
{
top: 1rem;
transition: 0.5s;
font-size: 12px;

}


button{

padding: 0.5rem;
width: 100%;
cursor: pointer;



}
h1{

padding-top: 10px;
text-align: center;

}


.login{
    width: 40vw;
    height: 50vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5%;
    background-color: rgba(255, 255, 255, 0.637);
    border-radius: 1rem;
    box-shadow: 2px 2px 0 black;
}

.login input{
    padding: 0.5rem;
    width: 100%;
    border-radius: 1rem;
    outline: none;
    border: none;
}

.login h1{
    text-align: center;
}

.login label{
    font-size: 1.2rem;
}